<p id="notice"><%= notice %></p>

<h1>My courses</h1>

<ul>
  <% @semesters.each do |semester| %>
    <li>
      <%= link_to semester.name, semester %>
      <%=semester.course1%>
      <%=semester.course2%>
      <%=semester.course3%>
      <%=semester.course4%>
    </li>
  <% end %>
</ul>
<%= link_to "New Semester", new_semester_path %>
