<p>Semester: <%= @semester.name %></p>
<p>Number: <%= @semester.course1 %></p>
<p>Number: <%= @semester.course2 %></p>
<p>Number: <%= @semester.course3 %></p>
<p>Number: <%= @semester.course4 %></p>
<ul>
  <li><%= link_to "Edit", edit_semester_path(@semester) %></li>

<li><%= link_to "Destroy Semester", semester_path(@semester),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>