<p id="notice"><%= notice %></p>
<p>Landing page after log in. To be replaced with role based dashboards where everything available to a user based on role is displayed.</p>
<p>Hello. Here is everything available to you:</p>

<p>Students:</p>

<ul>
  <li><%= link_to 'Students Index', students_path %> </li>
</ul>

<p>Professors:</p>

<ul>
  <li><%= link_to 'Professors Index', professors_path %> </li>
</ul>


<p>Program Directors:</p>

<ul>
  <li><%= link_to 'Program Directors Index', programdirectors_path %> </li>
</ul>

<p>Courses:</p>

<ul>
  <li><%= link_to 'Courses Index', courses_path %> </li>
</ul>


<p>Semesters:</p>

<ul>
  <li><%= link_to 'Semesters Index', semesters_path %> </li>
</ul>


<p>Plans of Study:</p>

<ul>
  <li><%= link_to 'Plans Index', plans_path %> </li>
</ul>


<p>Discussions:</p>

<ul>
  <li><%= link_to 'Discussions Index', discussions_path %> </li>
</ul>


<p>Comments:</p>

<ul>
  <li><%= link_to 'Comments Index', comments_path %> </li>
</ul>

