<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cwid</th>
      <th>Concentration</th>
      <th>Advisor</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.cwid %></td>
        <td><%= student.concentration %></td>
        <% if student.advisor_id %>
          <% advisor = student.advisor %>
          <td><%= link_to advisor.name, professor_path(advisor) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

