<h1>My Courses</h1>

<ul>
  <% @semesters.each do |course| %>
    <li>
      <%=course.prefix%>
      <%= link_to course.name, course %>
      <%=course.section%>
      <%=course.number%>
      <%=course.created_at%>
    </li>
  <% end %>
</ul>
<%= link_to "Add a Semester", new_course_path %>