<%= form_with(model: programdirector) do |form| %>
  <% if programdirector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programdirector.errors.count, "error") %> prohibited this programdirector from being saved:</h2>

      <ul>
        <% programdirector.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    Name: <%= form.text_field :Name %>
    <% programdirector.errors.full_messages_for(:Name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
   CWID: <%= form.text_field :CWID %>
    <% programdirector.errors.full_messages_for(:CWID).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
