<h1><%= @programdirector.Name %></h1>

<p>Name: <%= @programdirector.Name %></p>
<p>CWID: <%= @programdirector.CWID %></p>
<p><%= @programdirector.created_at %></p>
<ul>
  <li><%= link_to "Edit", edit_programdirector_path(@programdirector) %></li>

<li><%= link_to "Destroy Programdirector", programdirector_path(@programdirector),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>