<%= form_with(model: professor) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
        <% professor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :CWID %>
    <%= form.number_field :CWID %>
  </div>
  
   <div class="control-group">
    <%= form.label "Program Director", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:Programdirector, options_from_collection_for_select(Programdirector.all, 'Name', 'Name')) %>
    </div>
  </div>
  
   <div class="field">
    <%= form.label :programdirector_id %>
    <%= form.number_field :programdirector_id %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
