<h1>Courses</h1>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%=course.prefix%>
      <%= link_to course.name, course %>
      <%=course.section%>
      <%=course.number%>
      <%=course.created_at%>
    </li>
  <% end %>
</ul>
<%= link_to "New Course", new_course_path %>
<%= link_to "Add New Student", new_student_path %>
<p>Find this view in app/views/courses/index.html.erb</p>
