<%= form_with model: @students do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :nameofplan %><br>
    <%= form.text_field :nameofplan %>
    <% plan.errors.full_messages_for(:nameofplan).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div class="control-group">
    <%= form.label "Course1a", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:Course, options_from_collection_for_select(Course.all, 'name', 'name')) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>