<%= form_with model:[ @student, @student.plans.build ] do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :CWID %><br>
    <%= form.text_field :CWID %>
    <% plan.errors.full_messages_for(:CWID).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :nameofplan %><br>
    <%= form.text_field :nameofplan %>
    <% plan.errors.full_messages_for(:nameofplan).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>