<h1><%= @plan.nameofplan %></h1>

<p>Plan Name: <%= @plan.nameofplan %></p>
<p>Associated Student: <%= @plan.student_id %></p>
<p><%= @plan.created_at %></p>
<p>semester1: <%= @plan.semester1  %></p>
<p>course1a: <%= @plan.course1a  %></p>
<p>course1b: <%= @plan.course1b  %></p>
<p>course1c: <%= @plan.course1c  %></p>
<p>course1d: <%= @plan.course1d  %></p>
<p>semester2: <%= @plan.semester2  %></p>
<p>course2a: <%= @plan.course2a  %></p>
<p>course2b: <%= @plan.course2b  %></p>
<p>course2c: <%= @plan.course2c  %></p>
<p>course2d: <%= @plan.course2d  %></p>
<p>semester3: <%= @plan.semester3  %></p>
<p>course3a: <%= @plan.course3a  %></p>
<p>course3b: <%= @plan.course3b  %></p>
<p>course3c: <%= @plan.course3c  %></p>
<p>course3d: <%= @plan.course3d  %></p>
<p>semester4: <%= @plan.semester4  %></p>
<p>course4a: <%= @plan.course4a  %></p>
<p>course4b: <%= @plan.course4b  %></p>
<p>course4c: <%= @plan.course4c  %></p>
<p>course4d: <%= @plan.course4d  %></p>
<p>semester5: <%= @plan.semester5  %></p>
<p>course5a: <%= @plan.course5a  %></p>
<p>course5b: <%= @plan.course5b  %></p>
<p>course5c: <%= @plan.course5c  %></p>
<p>course5d: <%= @plan.course5d  %></p>
<p>semester6: <%= @plan.semester6  %></p>
<p>course6a: <%= @plan.course6a  %></p>
<p>course6b: <%= @plan.course6b  %></p>
<p>course6c: <%= @plan.course6c  %></p>
<p>course6d: <%= @plan.course6d  %></p>
<p>semester7: <%= @plan.semester7  %></p>
<p>course7a: <%= @plan.course7a  %></p>
<p>course7b: <%= @plan.course7b  %></p>
<p>course7c: <%= @plan.course7c  %></p>
<p>course7d: <%= @plan.course7d  %></p>
<p>semester8: <%= @plan.semester8  %></p>
<p>course8a: <%= @plan.course8a  %></p>
<p>course8b: <%= @plan.course8b  %></p>
<p>course8c: <%= @plan.course8c  %></p>
<p>course8d: <%= @plan.course8d  %></p>
<p>semester9: <%= @plan.semester9  %></p>
<p>course9a: <%= @plan.course9a  %></p>
<p>course9b: <%= @plan.course9b  %></p>
<p>course9c: <%= @plan.course9c  %></p>
<p>course9d: <%= @plan.course9d  %></p>
<p>semester10: <%= @plan.semester10  %></p>
<p>course10a: <%= @plan.course10a  %></p>
<p>course10b: <%= @plan.course10b  %></p>
<p>course10c: <%= @plan.course10c  %></p>
<p>course10d: <%= @plan.course10d  %></p>
<p>semester11: <%= @plan.semester11  %></p>
<p>course11a: <%= @plan.course11a  %></p>
<p>course11b: <%= @plan.course11b  %></p>
<p>course11c: <%= @plan.course11c  %></p>
<p>course11d: <%= @plan.course11d  %></p>
<p>semester12: <%= @plan.semester12  %></p>
<p>course12a: <%= @plan.course12a  %></p>
<p>course12b: <%= @plan.course12b  %></p>
<p>course12c: <%= @plan.course12c  %></p>
<p>course12d: <%= @plan.course12d  %></p>